---
import { db } from "../db"
import Layout from "./../Layout.astro"
import UserInfo from "../components/UserInfo.astro"

export const prerender = false

const isProd = import.meta.env.MODE === "production"
const API_URL = isProd ? import.meta.env.SITE : "http://localhost:8080"

let loggedIn = false
let name = ""
let wins = 0,
    losses = 0,
    spWins = 0,
    spLosses = 0

if (Astro.cookies.has("session_id")) {
    const cookie = Astro.cookies.get("session_id")
    const sessionId = cookie?.value

    if (sessionId) {
        const sessions = await db`
            select u.username, st.wins, st.losses, st.sp_wins, st.sp_losses
            from sessions s 
            join 
                users u on u.id = s.user_id
            join 
                stats st on st.user_id = u.id
            where 
                s.id = ${sessionId} and s.expires_at > now()
        `.values()
        if (sessions.length > 0) {
            loggedIn = true
            const session = sessions[0] as [string, number, number, number, number]
            ;[name, wins, losses, spWins, spLosses] = session
        }
    }
}
---

<Layout>
    <div class="pt-[10%] flex flex-col items-center justify-center">
        <h1 class="text-black text-2xl sm:text-4xl font-bold">Paddle royale</h1>
        {
            loggedIn ? (
                <UserInfo
                    name={name}
                    wins={wins}
                    losses={losses}
                    spWins={spWins}
                    spLosses={spLosses}
                />
            ) : (
                <>
                    <a
                        class="btn-2 btn-big mt-8 flex items-center justify-center"
                        href={`${API_URL}/api/auth`}
                    >
                        Login
                    </a>
                    <p class="text-black mt-8 text-sm font-light">Or play as a guest</p>
                </>
            )
        }
        <a class="btn-2 blue btn-big mt-8 flex items-center justify-center" href="/singleplayer">
            Singleplayer
        </a>
        <a class="btn-2 pink btn-big mt-8 flex items-center justify-center" href="/multiplayer"
            >Multiplayer</a
        >
        {
            loggedIn && (
                <a
                    class="btn-2 btn-big mt-8 flex items-center justify-center"
                    href={`${API_URL}/api/logout`}
                >
                    Logout
                </a>
            )
        }
    </div>
</Layout>
