---
type Props = {
    name: string
    wins: number
    losses: number
    spWins: number
    spLosses: number
}
const { name, wins, losses, spWins, spLosses } = Astro.props
const avatarUrl = `https://api.dicebear.com/10.x/thumbs/svg?seed=${name}`
---

<div class="mt-10 flex flex-col">
    <div class="mt-10 flex items-center justify-center gap-4">
        <img class="w-6 h-6 rounded-full" src={avatarUrl} alt="avatar" />
        <h2 class="text-black">{name}</h2>
    </div>

    <div class="mt-5 grid grid-cols-[auto_auto] gap-x-4 gap-y-2 text-black text-sm">
        <p>Wins</p>
        <p>{wins}</p>

        <p>Losses</p>
        <p>{losses}</p>

        <p>Singleplayer wins</p>
        <p>{spWins}</p>

        <p>Singleplayer losses</p>
        <p>{spLosses}</p>
    </div>
</div>
